@font-face {
	font-family: 'NetflixSans';
	src: url('/fonts/NetflixSans-Regular.otf') format('opentype');
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  background-color: rgb(26, 26, 26);
  font-family: 'NetflixSans';
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

.slick-slider {
  position: relative !important;
}

.slick-list {
  overflow: visible !important;
}

.custom-arrow {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
  cursor: pointer;
  color: #fff;
  background: rgba(0, 0, 0, 0.151);
  transition: background 0.3s;
}

.custom-arrow:hover {
  background: rgba(0, 0, 0, 0.397);
}

.custom-arrow.prev {
  left: 0;
}

.custom-arrow.next {
  right: 0;
}

.custom-dots {
  display: flex !important;
  justify-content: center;
  padding: 0;
}

.custom-dot {
  width: 25px;
  height: 6px;
  background-color: rgba(143, 143, 143, 0.824);
  transition: all 0.3s ease;
}

.custom-dots li.slick-active .custom-dot {
  background-color: #303030;
}

.action {
  border-radius: 100%;
  border: 1px solid white;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  background-color: rgb(36, 36, 36);
}

.play {
  background-color: white !important;
  color: black !important;
}

.play:hover {
  background-color: rgb(220, 220, 220) !important;
}

.action:hover {
  background-color: rgb(51, 51, 51);
}

.btn {
  padding: 12px 18px;
  background-color: rgba(255, 255, 255, 0.493);
  border-radius: 4px;
  font-weight: 600;
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  cursor: pointer;
}

.btn:hover {
  background-color: rgba(255, 255, 255, 0.326);
}

.vjs-control-bar{
  background-color: transparent !important;
  bottom: 16px !important;
}

/* ▶️ Tombol play dan ikon kontrol */
.video-js .vjs-play-control .vjs-icon-play,
.video-js .vjs-fullscreen-control .vjs-icon-fullscreen-enter,
.video-js .vjs-volume-panel .vjs-volume-level {
  color: #e50914 !important; /* Warna ikon kontrol */
}

/* 🔊 Slider volume dan progress bar */
.video-js .vjs-progress-holder,
.video-js .vjs-volume-level {
  background-color: #ddd !important;
}

.video-js .vjs-play-progress,
.video-js .vjs-volume-level {
  background-color: #e50914 !important; /* Warna progress dan volume aktif */
}

/* ⏪ Tombol rewind, forward, fullscreen, dll */
.video-js .vjs-control:before {
  color: #fff !important; /* Warna ikon kontrol lainnya */
}